.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
#gallery {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.project-img {
  width: 100%;
}

#project .row > * {
  padding: 0;
}
